cached-property==1.5.2
contourpy==1.2.0
cycler==0.12.1
cytoolz==0.12.2
eth-hash==0.5.2
eth-typing==4.0.0
eth-utils==2.3.1
fonttools==4.47.0
kiwisolver==1.4.5
libnum==1.7.1
matplotlib==3.8.2
numpy==1.26.3
packaging==23.2
pillow==10.2.0
py-ecc==7.0.0
pyparsing==3.1.1
python-dateutil==2.8.2
six==1.16.0
toolz==0.12.0ww
